.team_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  padding: 15px 10px 0;
  cursor: pointer;
  flex: 0 1 calc(10% - 40px);
}

.disabled {
  pointer-events: none !important;
  cursor: not-allowed !important;
  background-color: gray !important;
}

.logo_container {
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  padding: 6px;
  margin: 6px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.team_logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.team_name {
  width: auto;
  text-align: center;
  margin: 0;
  display: inline;
  font-size: 20px;
  line-height: 1.2;
  margin: 5px 0;
  color: #fff;
}

.rating_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 5px 8px;
}

.bowling_rating,
.batting_rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.rating_icon {
  width: 25px;
  height: 25px;
}

.rating {
  font-weight: bold;
  color: #fff;
}
